@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;	
	font-size:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	width:100%;
	font-family: 'Open Sans', sans-serif;
	line-height:1.35em;
}

#page {
	margin:20px auto;
}

header {
	background:#697f49;
}

header h1 {
	text-align:center;
	font-size:36px;
}

header h1 a {
	text-decoration:none;
	color:#fff;
	font-size:60px;
	display:block;
	padding:50px;
	line-height:1.35em;
}

#logo{	
	border-top:5px solid #fff;
	border-bottom:5px solid #fff;
}

/*navigation ----------------------------------- */
nav {
	border-top:5px solid #697f49;
	border-bottom:5px solid #697f49;
	text-align:center;
	overflow:hidden;
	background:#fff;
}

nav ul {
	font-size:20px;
	list-style-type:none;
	display:inline-block;
}

nav ul li {
	float:left;
	display:inline-block;
	margin-bottom:-5px;
}

nav li a {
	display:block;
	padding:10px 20px;
	color:#697f49;
	background:#fff;
	text-decoration:none;
}

nav li a:hover {
	color:#fff;
	background: #697f49;
}

/*sub-nav*/
nav ul li ul {
	display: none;
	position:absolute;
	margin:0;
	padding:0;
	z-index:999;
}

nav ul li ul li {
	float:none;
	display:block;
}

nav ul li ul li a{
	background: #fff;
	color: #697f49;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li a:hover {
	background: #697f49;
	color: #fff;
}

/*mobile menu*/

.show-menu {
	text-decoration: none;
	color: #697f49;
	background: #fff;
	text-align: center;
	padding: 10px 0;
	display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked + #menu{
    display: block;
}

/*middle-content ------------------------- */
.flexslider img{
	height:400px;
}
#middle {
	margin:10px auto;
	width:60%;
}

.cta {
	width:31.6%;
	background:#ecddbf;
	margin-left:10px;
	margin-bottom:10px;
	float:left;
	padding:1%;
}

.cta h2 a{
	font-size:20px;
	text-decoration:none;
	color:#697f49;
}
.cta h2 a:hover{
	color:#40332D;
}
.cta h2, h3 {
	color:#697f49;
}

.cta p {
	font-size:0.85em;
	margin-top:10px;
}

#cta01 {
	
}

.rdmore a {
	float:right;
	text-decoration:none;
	font-style:italic;
	font-size:14px;
	color:black;
}

.rdmore a:hover, a:focus {
	color:#8EB23E;
}

#cta02 {
	
}

#cta03 {
	
}

/*column layout css ------------------------- */
.left-col {
	width:38%;
	background:#ecddbf;
	padding:1%;
	font-size:14px;
	float:left;
	margin:1%;
}

#officers{
	width:58%;
	margin:1%;
	float:right;
}

#officers ul li {
	list-style-type:circle;
	padding:1%;
}

.left-col h2 {
	color:#697f49;
	font-size:18px;
	margin-bottom:10px;
}

.right-col h2, h3 {
	color:#697f49;
	margin-bottom:10px;
}
.right-col h2 a{
	color:#697f49;
	text-decoration:none;
	font-size:18px;
}

.right-col h2 {
	font-size:18px;
}

.right-col p {
	font-size:16px;
}

.right-col {
	padding:1%;
	line-height:1.5em;
	float:left;
	width:58%;
}

/*footer -------------------------------- */
#main-footer {
	clear:both;
	padding:1em;
	height:205px;
	font-size:14px;
	background:#697f49;
}

#main-footer ul {
	text-align:center;
}

#main-footer ul li {
	display:inline;
	margin:20px 20px 10px 0;
	list-style-type:none;
	color:white;
}

#main-footer li a {
	text-decoration:none;
	color:white;
}

#main-footer li a:hover {
	color:#8EB23E;
}

#topfooter li {
	display:inline;
	text-align:center;
}

/*about page css -------------------- */
#officers {
}

#officers h2 {
	color:#697f49;
	margin-bottom:10px;
}

/*contact page css -------------------- */
#questions {
}

/*news page css ----------------------- */
#news h2, h3 {
	margin-bottom:10px;
}

#news ul li {
	list-style-type:none;
}
	
#news ul li a {
	text-decoration:none;
	color:black;
}

#news ul li a:hover, a:focus {
	color:#8EB23E;
}

.posts-img {
	float:right;
}

#img01 {
	float:none;
}

/*dropdown footer menu css ------------------- */
.container {
	position:relative;
}

.submenu {
	float:left;
	position:absolute;
	left:0px;
}

.submenu li a {
	display:block;
}

#bottomfooter {
	clear:both;
	margin-top:135px;
}

/*media queries --------------- */
@media only screen and (min-width:1025px) and (max-width:1224px) {
	#middle{
		width:80%;
	}
}
@media only screen and (max-width:1024px) {
	nav ul {
		position: static;
		display: none;
	}
	/*Make all menu links full width*/
	nav, nav ul, nav li, nav li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
		font-size:40px;
		padding:20px;
	}
	nav li a{
		padding:20px;
		font-size:40px;
	}
	nav ul li{
		margin-bottom:0;
	}
	nav ul li ul{
		position:relative;
	}
	nav ul li ul li a{
		color:#fff;
		background:#697f49;
		border-top:2px solid #fff;
	}
	#middle{
		width:100%;
	}
	.cta{
		width:98%;
		margin:1%;
	}
	#topfooter{
		visibility:hidden;
	}
	#about, #officers{
		width:98%;
		margin:1%;
	}
	.left-col, .right-col{
		width:98%;
		margin:1%;
	}
}